<div class="container">
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Archived</th>
                    <th>Creation date</th>
                    <th>Phote</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let a of albums">
                    <td>{{a.id}}</td>
                    <td>{{a.archived}}</td>
                    <td>{{a.creationDate}}</td>
                    <td>{{a.photos}}</td>
                    <td><button class="btn btn-primary" [routerLink]="">Supprimer</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>